nav{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fffffe;
}

.Logo{
    color: black;
    padding: 8px;
}

.Categories{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.Option{
    color: black;
    padding: 8px;
    background-color: #ff8906;
    border-radius: 10px;
    text-decoration: none;   
}

.ActiveOption{
    color: black;
    padding: 8px;
    background-color: #ff8b065b;
    border-radius: 10px;
    text-decoration: none;
}
